@model Crud.Core.ViewModels.PostListViewModel
@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Simple Blog</h1>
	<p class="lead">Welcome To Your Blog</p>
	<p><a href="@Url.Action("Create", "Post")" class="btn btn-primary btn-lg">Create Some Article.. &raquo;</a></p>
</div>
<h1>Article</h1>
@foreach (var item in Model.Poste)
{	
	<div class="row">
		<div class="col-md-12">
			<h3>@item.Title</h3>
			<p>
				@item.Description
			</p>
			<p><a class="btn btn-default" a href="@Url.Action("Details", "Home", new { Id=item.Id})">Read More &raquo;</a></p>
		</div>
	</div>
}