@model Crud.Core.Models.Post


<div>
    <hr />
	<h1>
		@Html.DisplayFor(model => model.Title)
	</h1>
	<p>
		@Html.DisplayFor(model => model.Description)
	</p>
</div>
<p>
	<a href="@Url.Action("Edit", "Post", new { id = Model.Id })" class="btn btn-primary">Edit</a>
   <a href="@Url.Action("Index", "Post")" class="btn btn-danger">Back to List</a>
</p>
